"*":
  backup:
    packages: [
      "atom-jade"
      "atom-mermaid"
      "atom-ternjs"
      "busy-signal"
      "git-diff-details"
      "go-debug"
      "go-plus"
      "go-signature-statusbar"
      "godef"
      "hyperclick"
      "intentions"
      "language-docker"
      "language-graphql"
      "language-mermaid"
      "linter"
      "linter-docker"
      "linter-eslint"
      "linter-golinter"
      "linter-swagger"
      "linter-ui-default"
      "markdown-preview-plus"
      "merge-conflicts"
      "split-diff"
      "Sublime-Style-Column-Selection"
      "text-manipulation"
      "tree-view-git-status"
    ]
    themes: []
  core:
    disabledPackages: [
      "github"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 10
    showInvisibles: true
  "exception-reporting":
    userId: "63a98ac1-90e8-4cf9-a187-868d9d4ec7c5"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  welcome:
    showOnStartup: false
