[Unit]
Description=RXVT-Unicode Daemon

[Service]
ExecStart=/usr/bin/urxvtd -o
KillMode=control-group
Restart=always
RestartSec=2
Environment=RXVT_SOCKET=%t/urxvtd.sock DISPLAY=:0 XAUTHORITY=%t/Xauthority

[Install]
WantedBy=default.target
